.App {
  text-align: center;
}

form {
  padding: 24px 16px 0;
}

input {
  padding: 16px;
  border: none;
  width: 80%;
  box-sizing: border-box;
  font-size: 18px;
  margin-right: 5px;
  margin-bottom: 24px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-bottom: 1px solid #66d9e8;
  border-radius: 20px;
}

ul {
  list-style: none;
  font-size: 13px;
  margin-top: 32px;
  padding: 24px 16px;
}

li {
  text-align: left;
  border-radius: 20px;
  margin-bottom: 16px;
  box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.6);
  display: flex;
}

li article {
  width: 70%;
  padding: 12px;
  background: #FFFFFF;
  border-radius: 19px;
}

li article p {
  color: #868E96;
}

li.green article {
  background: #ebfbee;
}
li.yellow article {
  background: #fff9db;
}
li.red article {
  background: #fff5f5;
}
li.gray article {
  background: #f8f9fa;
}

li div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #FFFFFF;
  width: 23%;
}

li.green {
  background-color: #37b24d;
}
li.yellow {
  background-color: #f59f00;
}
li.red {
  background-color: #f03e3e;
}
li.gray {
  background-color: #868e96;
}

li div span.mask {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url('./mask.svg');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center center;
}

h2 {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: 12px;
  color: #212529;
}

time {
  font-size: 12px;
  display: inline-block;
  margin-top: 6px;
  color: #212529;
}

li span.count {
  font-size: 11px;
  display: block;
  width: 100%;
  text-align: center;
}

span.green {
  /* background-color: #37b24d; */
  color: #ffffff;
}
span.red {
  /* background-color: #f03e3e; */
  color: #ffffff;
}
span.yellow {
  /* background-color: #f59f00; */
  color: #ffffff;
}
span.gray {
  /* background-color: #868e96; */
  color: #ffffff;
}

a {
  text-decoration: underline;
  outline: none;
  color: #212529;
}

a:hover, a:active {
  text-decoration: underline;
  color: #212529;
}

.label {
  display: inline-block;
  padding: 4px;
  background: #FFFFFF;
  border: 1px solid #66d9e8;
  color: #66d9e8;
  margin: 0 4px;
  border-radius: 5px;
  margin: 4px;
}

.label.active {
  background: #66d9e8;
  color: #FFFFFF;
}

.sweet-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}