.App {
  text-align: center;
  padding: 24px 16px;
}

input {
  padding: 12px 16px 17px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  margin-right: 5px;
  margin-bottom: 24px;
}

button {
  border: 1px solid #ccc;
  padding: 16px 16px 17px;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

li {
  text-align: left;
  border-bottom: 1px solid #ccc;
  padding: 24px 0;
}

li p {
  margin-bottom: 8px;
}

h2 {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-bottom: 8px;
}

h2 span {
  font-size: 12px;
  font-weight: normal;
  display: inline-block;
  margin-left: 8px;
  padding: 4px;
  border-radius: 5px;
}

span.green {
  background: #37b24d;
  color: #ffffff;
}
span.red {
  background: #f03e3e;
  color: #ffffff;
}
span.yellow {
  background: #f59f00;
  color: #ffffff;
}
span.gray {
  background: #868e96;
  color: #ffffff;
}

a {
  text-decoration: underline;
  outline: none;
  color: #000000;
}

a:hover, a:active {
  text-decoration: underline;
  color: #000000;
}